.add-option-error {
  color: @lavender;
  font-style: italic;
  padding: 0 2rem;
  margin-top: 2rem;
}

.add-option {
  display: flex;
  flex-direction: row;
  padding: 1rem;

  @media @phone {
    flex-direction: column;
  }
}

.add-option-button {
  border-radius: 25px;
}

.add-option-button:hover {
    transform: scale(1.02);
  }

.add-option-input {
  flex-grow: 1;
  border: none;
  color: @lavender;
  background: @dark-blue;
  margin: 0 1rem 0 0;
  padding: 1rem;
  border-radius: 25px;

  @media @phone {
    margin: 0 0 .5rem 0;
  }
}
