// Browser Sizes

@phone: ~"(max-width: 600px)";
@tablet: ~"(max-width: 900px)";
@desktop: ~"(max-width: 1200px)";

// Fonts

@primary-font: ~"Arial, Helvetica, sans-serif";


// Colors

@white: #fafafa;
@off-black: #20222b;
@dark-blue: #333745;
@lavender: #a5afd7;
@purple: #8357c5;