html {
  font-size: 62.5%;
  position: relative;
  min-height: 100%;
}
html,
body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  background: #333745;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 12px;
}
html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background: #fafafa;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #fafafa;
}
* {
  box-sizing: border-box;
  outline: none;
}
button {
  cursor: pointer;
}
button:hover {
  transform: scale(1.1);
}
button:disabled {
  cursor: default;
}
.container {
  max-width: 48rem;
  margin: 0 auto;
  padding: 0 1.6rem;
}
.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.main-header {
  background: #20222b;
  color: #fafafa;
  margin-bottom: 3rem;
  padding: 1.6rem 0;
}
@media (max-width: 900px) {
  .main-header {
    margin-bottom: 2rem;
  }
}
@media (max-width: 600px) {
  .main-header {
    margin-bottom: 1.5rem;
  }
}
.header-title {
  font-size: 3.2rem;
  margin: 0;
}
.header-subtitle {
  color: #a5afd7;
  font-size: 1.6rem;
  font-weight: 500;
  margin: 0;
}
.action-button {
  background: #8357c5;
  border: none;
  border-bottom: 0.6rem solid #693cad;
  color: #fafafa;
  font-weight: bold;
  font-size: 3.6rem;
  margin-bottom: 3rem;
  padding: 2.4rem;
  width: 100%;
}
.action-button:hover {
  transform: scale(1.05);
}
.action-button:disabled {
  opacity: 0.5;
}
.button {
  background: #8357c5;
  border: none;
  border-bottom: 0.3rem solid #693cad;
  color: #fafafa;
  font-weight: 500;
  padding: 1.2rem;
}
.button-link {
  background: none;
  border: none;
  color: #a5afd7;
  padding: 0;
}
.widget {
  background: #464b5e;
  margin-bottom: 4.8rem;
}
.message {
  color: #a5afd7;
  margin: 0;
  padding: 3rem;
  border-bottom: 1px solid #5c627b;
}
.widget-header {
  background: #3c4251;
  color: #a5afd7;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}
.widget-header-title {
  margin: 0;
}
.option {
  display: flex;
  justify-content: space-between;
  padding: 1.6rem 1.5rem;
  border-bottom: 1px solid #5c627b;
}
.option-text {
  color: #fafafa;
  font-weight: 500;
  font-size: 1.3rem;
  margin: 0;
  word-break: break-all;
}
.add-option-error {
  color: #a5afd7;
  font-style: italic;
  padding: 0 2rem;
  margin-top: 2rem;
}
.add-option {
  display: flex;
  flex-direction: row;
  padding: 1rem;
}
@media (max-width: 600px) {
  .add-option {
    flex-direction: column;
  }
}
.add-option-input {
  flex-grow: 1;
  border: none;
  color: #a5afd7;
  border-bottom: 0.3rem solid #1d2028;
  background: #333745;
  margin: 0 1rem 0 0;
  padding: 1rem;
}
@media (max-width: 600px) {
  .add-option-input {
    margin: 0 0 0.5rem 0;
  }
}
.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.modal-container {
  padding: 20px;
  background-color: #333745;
  color: white;
  min-width: 280px;
  min-height: 280px;
  display: inline-block;
  margin: 1rem;
  position: relative;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.16), 0 5px 7px rgba(0, 0, 0, 0.23);
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
}
.modal-container-div {
  padding: 1.3rem;
}
.modal-container-div .modal-container-title {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 2.5rem;
}
.modal-container-div .modal-container-body {
  font-size: 2.5rem;
  font-weight: 400;
  word-break: break-all;
}
